<h1>DescriptionOfWork#test</h1>
<%= select :status,:name,DescriptionOfWork.types.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.types.values.to_a %>
<%= select :status,:name,DescriptionOfWork.floors.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.floors.values.to_a %>
<%= select :status,:name,DescriptionOfWork.buildings.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.buildings.values.to_a %>
<%= select :status,:name,DescriptionOfWork.modes.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.modes.values.to_a %>
<%= select :status,:name,DescriptionOfWork.formation_levels.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.formation_levels.values.to_a %>
<%= select :status,:name,DescriptionOfWork.work_times.keys.to_a %>
<%= select :status,:name,DescriptionOfWork.work_times.values.to_a %>