<%= form_for @reservation do |f| %>
  <p>
  <%= f.label :description_of_work_id %>
  <%= f.text_field :description_of_work_id %>
  </p>
 
  <p>
  <%= f.label :orderer_id %>
  <%= f.text_field :orderer_id %>
  </p>
 
  <p>
  <%= f.label :contractor_id %>
  <%= f.text_field :contractor_id %>
  </p>

  <p>
  <%= f.label :states %>
  <%= f.text_field :states %>
  </p>
  
  <%= f.submit %>
 
<% end %>
